
body {
	background-color: grey;
}

@keyframes slidein  {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: 100px;
    top: 100px;
  }
}

@-webkit-keyframes slidein  {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: 100px;
    top: 100px;
  }
}

@-webkit-keyframes jump {
  from {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
  }
  50% {
    transform: translate(0px,100px);
    webkit-transform: translate(0px,100px);
  }
  to {
    transform: translate(0px,0px);
    -webkit-transform: translate(0px,0px);
  }
}