@viewport {
    width: 1024px;
    height: 768px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0pt;
    margin: 0pt;
}

html{
    min-height:100%;
    /*position:relative*/
}/* make sure it is at least as tall as the viewport */

#scenario {
    display: none;
}

body {
    text-align: center;
    height: 100%;
    margin: 0pt;
}

html, body, #viewport, #backgrounds, #characters {
    font-size: 0pt;

} 

#viewport {
    position: relative;
    margin: 0pt auto;
}

#viewport, #avatar {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#textbox {
    z-index: 100;
    top: 60%;
    left: 4%;
    
    background-color: rgba(128,128,128,0.75);
    width: 92%;
    height: 36%;
    
    border: 5pt solid rgba(64,64,64,0.75);
    position: absolute;
}


#choices {
    position: absolute;
    z-index: 101;
    top: 4%;
    left: 4%;
    bottom: 4%;
    right: 4%;
    background-color: rgba(128,128,128,0.75);
    /* width: 92%;
    height: 36%; */
}

#choices ul {
    width: 100%;
}

#choices li {
    width: 100%; text-align: center;
}

#choices a {
    background-color: yellow;
    margin-left: auto; margin-right: auto;
    font-size: 12pt;
}

#text{
    margin: 5pt;
    font-size: 18pt;
    font-family: courier;
    font-weight: bold;
    text-align: justify;
    
    max-height: 75%;
    overflow: auto;
    float: left;
    display: inline;
    background-color: green;
}

.transparent {
    opacity: 0;
}

#avatar {
    width: 20%;
    height: 100%;
    float: left;
    display: inline;
}

#backgrounds {
    height: 100%;
}

#backgrounds img {
    height: 100%;
}

#avatar.noavatar {
    display: none;
}
